{
  "semi": ["error", "always"],
  "tabWidth": 2,
  "printWidth": 100,
  "trailingComma": "es5",
  "singleQuote": true,
  "bracketSpacing": true,
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-tailwindcss"]
}
